

<div class="kontakt container storleden-module">
	<div class="ingress">
		{{ form.ingress | raw }}
	</div>
 	<form {{form.form.attributes }} method="post">
                    {{ form.form.form.form_build_id }}
                    {{ form.form.form.form_token }}
                    {{ form.form.form.form_id }}
                    {{ form.form.subject }}
                    {{ form.form.message }}
	<div class="row">
		<h5 class="Kontaktuppgifter">Kontaktuppgifter</h5>
		<div class="col-sm-6">
			{{ form.form.name }}
		</div>
		<div class="col-sm-6">
			{{ form.form.company }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{ form.form.email }}
		</div>
		<div class="col-sm-6">
			{{ form.form.phone }}
		</div>
	</div>
	<div class="checkboxes">
		<h5>Vet du redan nu vad kan vi hjälpa dig med?</h5>
		{{ form.form.check_boxes }}
	</div>
	<div class="description">
		{{ form.form.description }}
	</div>
	<div class="submit-btn">
		{{ form.form.actions }}
	</div>
	</form>
</div>


