

<div id="tjanster" class="storleden-module block">
<span class="effect"></span>
	<div class="effect-title">
		<h3>DET HÄR GÖR VI </h3>
		<hr>
		<img src="{{ title_arrow }}" class="title_arrow">
	</div>

	<div class="container tjanster">
		{% set i = 0 %}
		{% set rest = nodes|length %}

		{% for node in nodes if i < (nodes|length) %}
			
		    <div class="row">

		    	{% if rest == 1 %}
	    			<div class="col-sm-4 ">
		    		
		    		</div> 
			    	<div class="col-sm-4 middle">
			    		<div class="mh">
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>	
			    	</div>
			    	</div>
			    	{% set i = i + 1 %}
			    	<div class="col-sm-4">
			    		
			    	</div>	

				{% elseif rest == 2 %}
				    <div class="col-sm-3 ">
		    		
		    		</div>
					<div class="col-sm-3 left">
						<div class="mh">
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>
		    			</div>
			    	</div>
			    	{% set i = i + 1 %}
			    	<div class="col-sm-3 right">
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>	
			    	</div>
			    	{% set i = i + 1 %}
			    	<div class="col-sm-3">
		    		
		    		</div>
				{% elseif rest >= 3 %}
				    <div class="col-sm-4 left">
				    	<div mh>
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>
			    	</div>
			    	</div>
			    	{% set i = i + 1 %}
			    	<div class="col-sm-4 middle">
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>	
			    	</div>
			    	{% set i = i + 1 %}
			    	<div class="col-sm-4 right">
			    		<div class="tjanst">
			    			<a href="node/{{ nodes[i].id }}">
					    		<img src="{{ nodes[i].img }}">
					    		<h4>{{ nodes[i].title }}</h4>
		    				</a>

			    		</div>
			    		<div class="tjanst-ingress">
		    				{{ nodes[i].ingress}}
			    		</div>	
			    	</div>
			    	
		    		{% set i = i + 1 %}
		    		{% set rest = rest - i %}

				{% endif %}
			</div>

		    	    
		{% endfor %}
	</div>
	<a href="allprojects" class=""><button class="btn btn-info" >Vi hjälper dig</button></a>
</div>

